body {
    background-color: #002233;
    font-family: Tahoma;
}
h1 {
    color: #002233;
}
p {
    margin: 5px 0;
}
ul {
	margin: 0;
	padding: 0;
}
li {
	padding: 0 10px;
	list-style-type: none;
	font-size: 13px;
	line-height: 20px;
	overflow: hidden;
}
li.active {
	background-color: #002233;
	color: #f0f0f0;
}
li img {
	display: none;
}
.clear {
    clear: both;
}
#wrapper {
    width: 860px;
    margin: 20px auto;
    padding: 5px 20px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 2px 5px #a6a6a6;
}
.tracklist_wrap {
    width: 416px;
    margin: 20px 0;
}
.tracklist {
    min-height: 160px;
	background: url("/img/list.png");
    border: 2px solid #002233;
	overflow: hidden;
}
#download_list_wrap {
    float: left;
}
#downloaded_files_list_wrap {
    float: right;
}
progress {
  width: 32.5em;
}