body {
    background-color: #002233;
    font-family: Tahoma;
}
h1 {
    color: #002233;
}
.clear {
    clear: both;
}
#wrapper {
    width: 860px;
    margin: 20px auto;
    padding: 5px 20px 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 2px 5px #a6a6a6;
}
.tracklist {
    width: 416px;
    min-height: 150px;
    margin: 20px 0;
    border: 2px solid #002233;
}
#download_list {
    float: left;
}
#downloaded_files_list {
    float: right;
}